$yellow: #ffff00;
.videoCard {
  width: 302px;
}
.playIcon {
  background-color: black;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outercolor {
  background-color: rgba(255, 255, 255, 0.25);
  width: 70px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;

  svg {
    color: $yellow;
    font-size: 30px;
    margin-left: 1px;
    border-radius: 10px;
  }
}
.video-Box {
  position: relative;
  video{
    border-radius: 4px;
  }
  video[poster]{
    height:98%;
    width:100%;
    }
  .playbtnwrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 49% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
.blacklayer{
  width: 100%;
  height: 98%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0,0.6);

}

.lockicon{
  padding-bottom: 7px;
}

.cardtext{
  max-width: 190px;
  text-align: center;
  font-size: 12px;
}

.card-icon-box{
    display: flex;
    
    
    gap: 10px;
    img{
        width: 17px;
        
    }
    p{
        font-size: 12px;
    }
}
.iconContainer{
    display: flex;
    gap: 45px;
    margin: 7px 0px 7px 0px;
}
.progressWrapper{
    width: 180px;
    .progressBarContainer{
        height: 18px;
        .innerBox{
            width: 50%;
        }
    }
}
.Card-porgress-box{
    display: flex;
    gap: 14px   ;
    margin-top: 12px;
}

.cardWidth{
  width: 250px !important;
  margin: 0px !important;
}