$gray:#818386;

.bottomLine{
    height: 1px;

    background-color: $gray;
    width: 100%;
    margin-top: 22px;
}
.recentContainer{
    margin-top: 80px;
}
@media only screen and (max-width: 700px){
	
    .recentContainer{
        margin-top: 40px;
    }
}
@media only screen and (max-width: 500px){
	
    .recentContainer{
        margin-top: 20px;
    }
}