@import "../../style/colors";

.finishdrafts{
    background-color: $blue;
    width: 400px;
    height: 56px;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    line-height: 17px;
  font-family: rangeSanebold;
  color: #FFFFFF;
  text-align: center;
}

.mainfinish{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.customrevlowpad{
  .customerReviews{
    padding-top: 50px;
  }
}