.dashboardactivelink{
    background-color: #006CFF;
    display: block;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 7px !important;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    .dashboardspan{
       color: #FFFFFF;
    }
}

.dashboardnavlink{
    border-radius: 6px;
    padding: 16px;
    display: block;
    margin-bottom: 7px !important;
    background-color: white;
    text-decoration: none;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
}

.dashboardslide{
    margin-top: 20px;
}


.dashboardslide li{
    list-style: none;
}

.dashboardslide ul{
    padding-left: 0px !important;
}

.sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 248px;
    transition: .5s linear;
    background-color: white;
}

.bitesizeddashboard{
    font-size: 24px;
    line-height: 28px;
    color: #0B1F22;
    font-family: rangeSanebold;
    text-align: center;
    margin-top: 35px;
}

.dashboardspan{
    margin-left: 12px;
    font-size: 14px;
    line-height: 22px;
    font-family: rangeSane;
    color: #6F767E;
    text-decoration: none;
}


.dashboardnavlink img{
    width: 24px;
    height: 24px;
    color: #6F767E;
}

.mainrxcross{
    position: relative;
    width: 100%;
}

.rxcross{
    font-size: 30px;
    position: absolute;
    right: -35px;
    top: 5px;
    display: none;
}
// ===============================

