.dashboardactivelink{
    background-color: #006CFF;
    border-radius: 12px;
    padding: 12px;
    border: 1px solid red;
    margin-bottom: 20px !important;
}

.dashboardslide{
    margin-top: 20px;
}


.dashboardslide li{
    list-style: none;
}

.dashboardslide ul{
    padding-left: 0px !important;
}

.sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 248px;
    background-color: white;
}

.bitesizeddashboard{
    font-size: 24px;
    line-height: 28px;
    color: #0B1F22;
    font-family: rangeSanebold;
    text-align: center;
    margin-top: 35px;
}

.dashboardspan{
    margin-left: 12px;
    font-size: 14px;
    line-height: 22px;
    font-family: rangeSane;
    color: #6F767E;
    text-decoration: none;
}


.dashboardnavlink img{
    width: 24px;
    height: 24px;
    color: #6F767E;
}