@import "../../style/colors";

.introUIflex{
    display: flex;

}

.introtoUIthumbnail{
    margin-top: 28px;
    margin-bottom: 40px;
}

.introtoUIthumbnail[poster]{
    width: 96%;
}

.linkspadding{
    margin-bottom: 10px !important;
}

.uidesignpara{
    font-size: 16px;
    line-height: 25px;
    color: $darkgrey;
    max-width: 760px;
    font-family: rangeSaneregular;
}

.lessontime{
    font-size: 16px;
    line-height: 22px;
    font-family: rangeSanebold;
    margin-top: 25px;
    margin-left: 15px;
}

.forgreyline{
    background-color: #E9EDF1;
    width: 328px;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 10px;
}

.howtodoeverythingflex2{
    display: flex;
    gap: 10px;
}

.howtodoeverythingflex{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.howtodoeverythingflex2 img{
    width: 50px;
    height: 50px;
    margin-left: 25px;
}

.howtodoeverythingflex img{
    width: 50px;
    height: 50px;
    margin-left: 25px;
}

.lessonintro{
    font-size: 18px;
    line-height: 24px;
  font-family: rangeSanebold;
  color: #808281;
  padding-bottom: 30px;
  margin-left: 15px;
}

.lessonintro2{
    font-size: 18px;
    line-height: 24px;
  font-family: rangeSanebold;
  color: #808281;
  padding-bottom: 30px;
  padding-top: 20px;
  margin-left: 15px;
}

.bolding{
    font-size: 16px;
    line-height: 27px;
  font-family: rangeSane;
  color: #05162E;
}

.forgrey{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #808281;
}