@import "../../style/colors";

.profiles{
    width: 50px;
}

.forprofileflex{
    display: flex;   
}

.userheading{
    margin-left: 10px;
}

.userheading p{
    font-size: 18px ;
  font-family: rangeSanebold;
    font-weight: 600;
    color: #000000;
}

.userheading img{
    width: 22px;
}

.review{
    color: $paragrey;
    font-size: 18px;
    line-height: 25px;
    margin-top: 25px;
    text-align: left;  
    padding-bottom: 40px;
  font-family: rangeSaneregular;
}

.fordaysflex h1{
    font-size: 15px;
    line-height: 30px;
    color: #8D8D8D;
  font-family: rangeSane;
}

.fordaysflex{
    display: flex;
    justify-content: space-between;
}

.formarginrightstar{
    margin-right: 6px;
}