.dashboarduserheader{
    height: 80px;
    padding-top: 25px;
    display: flex;
    align-items: center;
}

.dashheadinp{
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 550px;
    height: 46px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 10px;
}

.dashheadinp img{
    width: 18px;
    height: 18px;
}

.searchmicroinput{
    width: 300px;
    border: none;
    padding-bottom: 5px;
}

.searchmicroinput::placeholder{
    font-size: 14px;
    line-height: 20px;
    font-family: rangeSane;
    color: #808281;
}

.notiemoji{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-right: 50px;
}

.dashnoti{
    width: 24px;
    height: 24px;
}

.dashemoji{
    width: 48px;
    height: 48px;
    padding: 5px;
    background-color: #F8C993;
    border-radius: 8px;
    margin-left: 40px;
}

.slmenu{
    font-size: 30px;
    margin-right: 20px;
    display: none;
}

// =======================

.CSVbtn{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    background-color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
  font-family: rangeSane;
  color:#006CFF;
  width: 146px;
  height: 46px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}