@import "../../style/colors";

.mainrateuser{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tellushow{
    font-size: 32px;
    line-height: 37px;
  font-family: rangeSanebold;
}

.forflexfourcolumn{
    display: flex;
}