.uiuxpayment{
    margin-left: 15px;
}

.uihutcsvbtnflex{
    display: flex;
}

.secondcsv{
    display: block;
    display: flex;
    justify-content: end;
    margin-top: 105px;
    margin-bottom: 0px;
    margin-right: 50px;
}

.uihutflex{
    width: 100%;
    display: flex;
    gap: 24px;
    margin-top: 20px;
}

.uihutdiv{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #FFFFFF;
    width: 273px;
    height: 132px;
    position: relative;
}

.greyball{
    position: absolute;
    bottom: 0;
    right: 0;
}

.circularprogress{
    margin-left: 20px;
}
.totalrevenue{
    font-size: 16px;
    line-height: 22px;
    color: #05162E;
  font-family: rangeSanebold;

}

.uihutdollar{
    font-size: 36px;
    line-height: 52px;
    color: #05162E;
  font-family: rangeSanebold;
}

.secondclassforscroll{
    margin-top: 25px;
}

// ==================

.circleprogressivebar{
    height: 65px;
    width: 65px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleprogressivebarchild{
    height: 35px;
    width: 35px;
    background-color: red;
    border-radius: 50%;

}