@import '../../style/colors';
@import '../../style/globalStyle.scss';


.box-section{
    margin-top: 40px;
}
.howitworks{
    margin-top: 157px;
}
.headinghowitworks{
    margin: auto;
    width: 100%;
    p{
        margin-top: 10px;
        max-width: 612px;
        margin: auto;
    }
}
.box1 {
    background-image: url('../../assets/first.svg');
    width: 318px;
    height: 250px;
    padding: 46px 34px 47px 22px;

    span {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        color: #5DA9E9;
        font-family: rangeSane;
    }

    h2 {
        font-family: rangeSanebold;
        font-weight: 800;
        font-size: 25px;
        line-height: 40px;
    }

    p {
        font-family: rangeSaneregular;
        font-weight: lighter;
        font-size: 16px;
        line-height: 26px;
        color: #4E4D53;
        margin-top: 10px;
    }
}

.box2 {
    background-image: url('../../assets/secong.svg');
    width: 318px;
    height: 250px;
    padding: 46px 34px 47px 22px;

    span {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        color: #5DA9E9;
        font-family: rangeSane;
    }

    h2 {
        font-family: rangeSanebold;
        font-weight: 800;
        font-size: 25px;
        line-height: 40px;
    }
    p{
        font-family: rangeSaneregular;
        font-weight: lighter;
        font-size: 16px;
        line-height: 26px;
        color: #4E4D53;
        margin-top: 10px;
    }
}

.box3 {
    background-image: url('../../assets/thirs.svg');
    width: 318px;
    height: 250px;
    padding: 46px 34px 47px 22px;

    span {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        color: #5DA9E9;
        font-family: rangeSane;
    }

    h2 {
        font-family: rangeSanebold;
        font-weight: 800;
        font-size: 25px;
        line-height: 40px;
    }
    p{
        font-family: rangeSaneregular;
        font-weight: lighter;
        font-size: 16px;
        line-height: 26px;
        color: #4E4D53;
        margin-top: 10px;
    }
}

.box-section {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .howitworks{
        margin-top: 20px;
    }
    .box-section{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img{
            display: none;
        }

    }
    .box1, .box2, .box3 {
        margin: 10PX;
    }
}
@media only screen and (max-width: 425px) {
    .box-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img{
            display: none;
        }

    }
    .box1, .box2, .box3 {
        margin: 10px 0 10px 0;
    }
}
