.main-container-account {
    margin-top: 30px auto;
}

.setting {
    font-size: 30px;
    line-height: 38px;
    color: #0B1F22;
}

.sub-main-container {
    // border: 1px solid black;
    width: 95%;
    display: flex;
    justify-content: flex-start;
}

.tab-sec {
    margin-top: 20px;
    // border: 1px solid black;
    width: 30%;
    background: #FFFFFF;
    box-shadow: -4px 10px 32px rgba(44, 63, 88, 0.08);
    border-radius: 10px;
    height: 237px;
}

.tab-button {
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 12px 20px;
    gap: 10px;
    margin: 5px auto;
    font-size: 16px;
    line-height: 24px;
    color: #595F69;
    text-align: start;
    border: none;
}

.tab-button:hover {
    background: #E7E9E9;
    color: #11142D;
    font-family: rangeSanebold;
}
.secondcomponent{
    width: 820px;
    // border: 5px solid rgb(239, 0, 0);
    margin-left: 52px;
}
@media only screen and (min-width: 768px) {

    .setting {
        font-size: 25px;
        line-height: 30px;
        ;
    }

    .tab-button {
        font-size: 12px;
        line-height: 18px;

    }

}

@media only screen and (max-width: 425px) {
    
    .sub-main-container {
        width: 100%;
    }

    .setting {
        font-size: 15px;
        line-height: 25px;
        ;
    }

    .tab-button {
        font-size: 10px;
        line-height: 16px;

    }
    .tab-sec {

        height: 150px;
    }


}




//dropdown styling


// .dropdown {
//     width: 320px;
//     height: 310px;
//     left: 990px;
//     top: 82px;
//     background: #FFFFFF;
//     box-shadow: 0px 24px 50px rgba(44, 63, 88, 0.27);
//     display: flex;
//     flex-direction: column;
//     // padding: 10px;
// }

// .dropdown-1 {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     gap: 10px;
//     padding: 20px 15px;
// }

// .dropdownheading {
//     font-family: 'Poppins';
//     font-style: normal;
//     font-weight: 500;
//     font-size: 17px;
//     line-height: 26px;
// }

// .dropdownpara {
//     font-family: 'Poppins';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 21px;
//     color: #818386;
// }

// .dropdown-2 {
//     display: flex;
//     justify-content: space-between;
//     gap: 15px;
//     width: 100%;
//     padding:16px;
//     border-bottom: 1px solid #E1E3E6;
//     border-top: 1px solid #E1E3E6;
// }

// .dropdown-items {
//     display: flex;
//     justify-content: flex-start;
//     gap: 10px;
//     font-family: 'Poppins';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 15px;
//     line-height: 22px;
//     color: #595F69;
//     width: 68%;


// }

// .items-2 {
//     padding: 0px 5px;
//     background: #FD726A;
//     font-family: 'Poppins';
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 21px;
//     color: #FFFFFF;

// }