
.card-sec {
    // border: 1px solid black;
    width: 70%;
    // margin-top: 20px;
    margin-left: 70px;

}

.credit-heading {
    font-size: 26px;
    line-height: 34px;
}

.methods {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: fit-content;
    border-bottom: 1px solid #D8D8D8;
    padding: 0 0 45px 0;

}

.method-1 {
    // border: 1px solid black;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: -2px 6px 28px rgba(44, 63, 88, 0.08);
    border-radius: 12px;
}

.detail-heading {
    font-size: 20px;
    line-height: 24px;
    margin: 10px auto;
}

.details {
    border-bottom: 1px solid #D8D8D8;
    margin: 20px auto;

}

.detail-input {
    margin: 10px auto;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #808191;
}

.date {
    display: flex;
    justify-content: space-between;
}

.date-1 {
    border-bottom: 1px solid #D8D8D8;
    // border: 1px solid black;
    width: 47%;

}

.card-button {
    background: #5DA9E9;
    border-radius: 12px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 14px;
    margin: 30px auto;
}
@media only screen and (max-width: 1024px) {
    .card-sec {
        margin-left: 0px;
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {
    .method-1 {
        // border: 1px solid black;
        padding: 15px;

        img {
            width: 70px;
        }

    }
}

@media only screen and (min-width: 768px) {

    .setting {
        font-size: 25px;
        line-height: 30px;
        ;
    }

    .tab-button {
        font-size: 12px;
        line-height: 18px;

    }

    .credit-heading {
        font-size: 20px;
        line-height: 28px;
    }

    .detail-heading {
        font-size: 15px;
        line-height: 20px;

    }

    .card-button {
        font-size: 12px;
        line-height: 20px;
    }


}

@media only screen and (max-width: 425px) {
    .method-1 {
        // border: 1px solid black;
        padding: 10px;

        img {
            width: 40px;
        }

    }

    .card-sec {
        // border: 1px solid black;
        width: 100%;

    }

    .sub-main-container {
        width: 100%;
    }

    .setting {
        font-size: 15px;
        line-height: 25px;
        ;
    }

    .tab-button {
        font-size: 10px;
        line-height: 16px;

    }

    .credit-heading {
        font-size: 12px;
        line-height: 20px;
    }

    .detail-heading {
        font-size: 12px;
        line-height: 15px;

    }

    .card-button {
        font-size: 10px;
        line-height: 15px;
    }

    .tab-sec {

        height: 150px;
    }


}