.doubledashboardcontentmain{
    background-color: #FFFFFF;
    padding-left: 20px;
    margin-right: 16px;
}


// =======================

.borderdashboardcontentmain{
    border-bottom: 1px solid #E1E1E1;
}

.dashboardcontentmain{
    background-color: #FFFFFF;
    margin-top: 25px;
    width: 99%;
    height: 120px;
    display: flex;
    gap: 50px;
}

.dashboardparentdiv{
    display: flex;
    gap: 12px;
    padding: 40px 0px 9px 0px;
}

.arrowdashboard{
    width: 48px;
    height: 48px;
}

.totaleducators{
    font-size: 15px;
    line-height: 17px;
    font-family: rangeSane;
    color: #818386;
}

.totaleducatornum{
    font-size: 25px;
    line-height: 29px;
    color: #333333;
    font-family: rangeSane;

}

.smallredarrowspan{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #FD726A;
    font-family: "poppins";   
}

.smallarrowspan{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #44CB7F;
    font-family: "poppins";    
}

.smallarrowspan img{
    width: 14px;
    height: 14px;
}

.totaleducators{
    padding-bottom: 5px;
}

.dashboardparentdivone{
    padding-right: 20px;
}

.dashboardparentdivtwo{
    padding-right: 60px;
}

.dashboardparentdivfour{
    padding-right: 7px;
}

.dashboardparentdivfive{
    padding-right: 5px;
    padding-top: 20px;
}

.dashboardparentdivsix{
    padding-right: 5px;
    padding-top: 20px;
}

.dashboardparentdivseven{
    padding-right: 5px;
    padding-top: 20px;
}

// ================

.dashboardcontentmainpadding{
    margin-top: 0px;
}

// ==========================
// ==========================
// ==========================

.dashboardforflex{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    background-color: #FFFFFF;
    padding-left: 30px;
    margin-right: 40px;
    margin-top: 35px;
    gap: 10px;
    position: relative;
    padding-bottom: 30px;
}

.dashboardgreyline{
    background: #E1E1E1;
    position: absolute;
    height: 1px;
    top: 50%;
    left: 30px;
    width: 95%;
}

// ==========================

.radialchart{
    margin-top: 20px;
}

.chartmaindiv{
    background-color: white;
    margin-top: 40px;
    padding-top: 45px;
    padding-right: 20px;
    padding-left: 20px;
    width: 67%;
    position: relative;

}

.arrowiconcalender{
    width: 16px;
    height: 16px;
    color: #595F69;
}

.statistics{
    display: flex;
    justify-content: space-between;
    
}

.statistics h1{
    font-size: 22px;
    line-height: 25px;
  font-family: rangeSanebold;
  color:#333333;
  position: absolute;
    top: 30px;
}

.calendericon{
    width: 22px;
    height: 22px;
}

.calenderflex{
    display:flex;
    position: absolute;
    top: 20px;
    right: 20px;
    justify-content: center;
    align-items: center;
    background-color: #F2F5FA;
    width: 205px;
    height: 56px;
    gap:10px;
}

.react-datepicker__input-container{
    
}

.react-datepicker-wrapper{
    width: 57% !important;
}

.react-datepicker__input-container input{
    border: none;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-family: "poppins";
    color: #595F69;
    background-color: #F2F5FA;
    width: 100%;


}

.bothchart{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    gap: 20px;
}

// ==========================

@media only screen and (max-width: 1050px) {
    .dashboardforflex{
    grid-template-columns: repeat(3 , 1fr);

    }

    .dashboardgreyline{
        display: none;
    }

    .dashboardparentdiv{
        padding-bottom: 0px;
        padding-top: 25px;
    }
}

@media only screen and (max-width: 986px) {
    .radialchart{
        margin-top: 0px !important;
    }
    
    .chartmaindiv{
        width: 96%;

    }
}

@media only screen and (max-width: 830px) {
    .dashboardforflex{
        grid-template-columns: repeat(2 , 1fr);
    
        }
}

@media only screen and (max-width: 669px) {
    .calenderflex{
        gap: 5px;
        width:165px
    }
    .react-datepicker__input-container{
        width: 100% !important;

    }
    .react-datepicker__input-container input{
        font-size: 12px;
        width: 100% !important;

    }
    .calendericon{
        width: 19px;
        height: 19px;
    }
    .react-datepicker-wrapper{
        width: 58% !important;
}

}

@media only screen and (max-width: 565px) {
    .calenderflex{
        width: 52px;
    }
    .calendericon{
        width: 15px;
        height: 15px;
    }
    .react-datepicker-wrapper{
        display: none !important;
}
    .chartmaindiv{
        width: 94%;
}
    .statistics h1{
        font-size: 18px;
}
.arrowiconcalender{
    display: none;
}
}

@media only screen and (max-width: 615px) {
    .arrowdashboard{
        width: 42px;
        height: 42px;
    }
    .totaleducators{
        font-size: 12px;
        line-height: 12px;
    }
    .totaleducatornum{
        font-size: 20px;
        line-height: 22px;
    }
    .smallarrowspan{
        font-size: 12px;
    }
    .smallredarrowspan{
        font-size: 12px;
    }
}

@media only screen and (max-width: 532px) {
    .dashboardforflex{
        grid-template-columns: repeat(1 , 1fr);
        }
        .heading7{
            font-size: 20px;
        }
}

@media only screen and (max-width: 411px) {
    .statistics h1{
        font-size: 14px;
    }
    .heading6{
        font-size: 18px;
    }
        .chartmaindiv{
        width: 94%;
}
.calenderflex{
    width:35px;
    height:35px;
}
.dashboardforflex{
    margin-right: 20px;
}
}

@media only screen and (max-width: 354px) {
    .circleChartContainer{
        width: 97%;
    }
}