.doubledashboardcontentmain{
    background-color: #FFFFFF;
    padding-left: 20px;
    margin-right: 16px;
}


// =======================

.borderdashboardcontentmain{
    border-bottom: 1px solid #E1E1E1;
}

.dashboardcontentmain{
    background-color: #FFFFFF;
    margin-top: 25px;
    width: 99%;
    height: 120px;
    display: flex;
    gap: 50px;
}

.dashboardparentdiv{
    display: flex;
    gap: 12px;
    padding: 35px 0px;
}

.arrowdashboard{
    width: 48px;
    height: 48px;
}

.totaleducators{
    font-size: 15px;
    line-height: 17px;
    font-family: rangeSane;
    color: #818386;
}

.totaleducatornum{
    font-size: 25px;
    line-height: 29px;
    color: #333333;
    font-family: rangeSane;

}

.smallredarrowspan{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #FD726A;
    font-family: "poppins";   
}

.smallarrowspan{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #44CB7F;
    font-family: "poppins";    
}

.smallarrowspan img{
    width: 14px;
    height: 14px;
}

.totaleducators{
    padding-bottom: 5px;
}

.dashboardparentdivone{
    padding-right: 20px;
}

.dashboardparentdivtwo{
    padding-right: 60px;
}

.dashboardparentdivfour{
    padding-right: 7px;
}

.dashboardparentdivfive{
    padding-right: 5px;
    padding-top: 20px;
}

.dashboardparentdivsix{
    padding-right: 5px;
    padding-top: 20px;
}

.dashboardparentdivseven{
    padding-right: 5px;
    padding-top: 20px;
}

// ================

.dashboardcontentmainpadding{
    margin-top: 0px;
}

// ==========================
// ==========================
// ==========================

.dashboardforflex{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    background-color: #FFFFFF;
    padding-left: 30px;
    margin-right: 40px;
    margin-top: 20px;
    gap: 10px;
    position: relative;
    padding-bottom: 25px;
}

.dashboardgreyline{
    background: #E1E1E1;
    position: absolute;
    height: 1px;
    top: 50%;
    left: 30px;
    width: 95%;
}

// ==========================

@media only screen and (max-width: 1050px) {
    .dashboardforflex{
    grid-template-columns: repeat(3 , 1fr);

    }

    .dashboardgreyline{
        display: none;
    }

    .dashboardparentdiv{
        padding-bottom: 0px;
        padding-top: 25px;
    }
}

@media only screen and (max-width: 830px) {
    .dashboardforflex{
        grid-template-columns: repeat(2 , 1fr);
    
        }
}

@media only screen and (max-width: 615px) {
    .arrowdashboard{
        width: 42px;
        height: 42px;
    }
    .totaleducators{
        font-size: 12px;
        line-height: 12px;
    }
    .totaleducatornum{
        font-size: 20px;
        line-height: 22px;
    }
    .smallarrowspan{
        font-size: 12px;
    }
    .smallredarrowspan{
        font-size: 12px;
    }
}

@media only screen and (max-width: 532px) {
    .dashboardforflex{
        grid-template-columns: repeat(1 , 1fr);
        }
}