@import '../../style/colors';
@import '../../style/globalStyle.scss';

.meettheeducators {
    width: 100%;
    margin-top: 170px;

    p {
        // max-width: 500px;

        font-family: rangeSaneregular;
        font-weight: 100;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #848692;
    }
}

.staff {
    margin-top: 52px;
    margin-bottom: 90px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.profile {


    h4 {
        margin-top: 20px;
        font-size: 26px;
        line-height: 28px;
        letter-spacing: -0.005em;
        color: #141414;
        margin-bottom: 7px !important;
    }

    span {
        font-size: 14px;
        line-height: 22px;
        color: #848692;
    }

}

.designation {
    font-size: 14px;
    line-height: 22px;
    color: #848692;
}

@media only screen and (max-width: 1024px) {

    .headingcontainer {
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {

    .meettheeducators {

        margin-top: 55px;

        p {
            font-size: 12px;
        }
    }

    .staff {
        margin-top: 20px;
    }

}

@media only screen and (max-width: 425px) {

    .staff {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .profile {


        h4 {
            margin: 20px;
            font-size: 20px;
            line-height: 20px;



        }

        span {
            font-size: 14px;
            line-height: 22px;
            color: #848692;
            margin: 20px;
        }

    }

}