@import '../../style/colors';
@import '../../style/globalStyle.scss';


.block-section {

    margin-top: 148px;
    display: flex;
    justify-content: center;
    gap: 24px;

}

.box {
    width: 277px;
    height: 259px;
    box-sizing: border-box;
    border: 1px solid #141414;
    border-radius: 14px;
    background: #FFFFFF;
    padding: 24px;
    position: relative;
}

.star {
    position: absolute;
    width: 108px;
    height: 108px;
    right: 0px;
    bottom: -54px;

}

.box-text {
    font-size: 44px;
    line-height: 48px;
    font-family: rangeSane;
}

@media only screen and (max-width: 1024px) {

    .block-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .box-text {
        font-size: 34px;
    }

    .star {
        right: 0px;
        bottom: -45px;
        z-index: 1;
        width: 90px;
        height: 90px;

    }

    .box {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 768px) {

    .block-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 58px;
    }

    .box-text {
        font-size: 34px;
    }

    .star {
        right: 0px;
        bottom: -45px;
        z-index: 1;
        width: 90px;
        height: 90px;

    }

    .box {
        height: 200px;
    }
}