@font-face {
    font-family: rangeSane;
    src: url(../assets/font/rangesans-medium.ttf);
  }
  @font-face {
    font-family: rangeSanebold;
    src: url(../assets/font/rangesans-bold.ttf);
  }
  @font-face {
    font-family: rangeSaneregular;
    src: url(../assets/font/rangesans-regular.ttf);
  }