//testing

$textColor: #141414;
$textColor2: #0b1f22;
$blue: #5da9e9;
$pink: #ff7477;
$grey: #a0a0a0;
@import "./colors";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap");

@font-face {
  font-family: rangeSane;
  src: url(../assets/font/rangesans-medium.ttf);
}

@font-face {
  font-family: rangeSanebold;
  src: url(../assets/font/rangesans-bold.ttf);
}

@font-face {
  font-family: rangeSaneregular;
  src: url(../assets/font/rangesans-regular.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0px !important;
}

.heading1 {
  font-size: 32px;
  color: $textColor;
  font-family: rangeSane;
  letter-spacing: 1px;
  line-height: 44px;
  font-weight: 700;
}
.heading3 {
  font-size: 32px;
  color: $textColor;
  font-family: rangeSanebold;

  letter-spacing: 1px;
  line-height: 38px;
  font-weight: 700;
}

.heading2 {
  font-size: 18px;
  color: $textColor;
  font-family: rangeSane;
  letter-spacing: 1px;
  font-weight: 700;
  color: $textColor2;
  line-height: 25px;
  margin-bottom: 20px;
}
.heading5 {
  font-size: 20px;
line-height: 23px;
  
  font-family: rangeSane
  ;
  color: $blue;
}
.heading4 {
  font-size: 26px;
  line-height: 28px;
  letter-spacing: -0.005em;
  color: #141414;
  font-family: rangeSanebold;
}

.links {
  font-size: 14px;
  font-family: rangeSane;

  color: $pink;
}
.boldfamily {
  font-family: rangeSanebold !important;
}
.blue {
  color: $blue !important;
}
.pink {
  color: $pink !important;
}
.p1 {
  font-family: rangeSane;

  color: $grey;
  font-size: 14px;
}
.p3 {
  font-size: 15px;
  line-height: 18px;
  font-family: rangeSane;
  color: $blue;
}
.p4 {
  font-size: 13px;
  line-height: 15px;
  font-family: rangeSane;
  color: $textColor;
}
.p5{
  font-family: rangeSane;
color: $darkgrey;
  font-size: 16px;
line-height: 19px;
}
.smallText {
  font-size: 12px;
  font-family: rangeSane;
  font-weight: 600;
  letter-spacing: 1px;
  color: $pink;
  line-height: 18px;
}
.smallText2 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  letter-spacing: 1px;
  color: #fff;
  line-height: 18px;
}

.p2 {
  font-family: "Poppins", sans-serif;
  color: $blue;
  font-weight: 700;
  font-size: 12px;
}

.btn1 {
  font-size: 14px;
  padding: 10px 28px;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  border: 1px solid $pink;
  border-radius: 37px;
  color: $pink;

  background-color: transparent;
}
.bg-pink{
  background-color: $pink !important; 

}
.largebluebtn {
  width: 223px;
  height: 43px;
  border-radius: 37px;
  background-color: $blue;
  font-family: rangeSane !important;

  // font-family: rangeSaneregular;
  letter-spacing: 1px;

  color: #fff;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  border: none;
}
.bluebutton {
  min-width: 104px;
  max-width: fit-content;
  background-color: $blue;
  border-radius: 37px;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageheading {
  font-size: $headinsize;
  font-weight: 700;
  line-height: 70px;
  font-family: rangeSanebold;
}

.homepageheading2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 74px;
  color: #5da9e9;
  text-align: center;
}

.homepagepara {
  font-family: rangeSaneregular;
  font-weight: lighter;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4e4d53;
}
.grey2{
  color: $grey2 !important;

}
.box-text {
  font-size: 44px;
  line-height: 48px;
  font-family: rangeSane;
}

.roundedbluebtn {
  padding: 10px 35px !important;

  background-color: $blue;
  color: $CreamWhite;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  font-family: rangeSanebold;
  margin-bottom: 20px;
}

.selectheading {
  font-family: rangeSanebold;
  font-size: 32px;

}

.selectpara {
  font-family: rangeSaneregular;
  font-size: 16px;
  color: #818386;

}


@media only screen and (max-width: 1306px) {

  .pagecoverheading {
    max-width: 600px;
  }

  .homepageheading {
    font-size: 48px;
    line-height: 55px;
  }

}

@media only screen and (max-width: 700px) {
  /*Big smartphones [426px -> 600px]*/
  .heading1 {
    font-size: 21px;
    line-height: 30px;
  }
  .heading3 {
    font-size: 22px;
  }
  .btn1 {
    font-size: 12px;
    padding: 6px 28px;
  }

  .pagecoverheading {
    max-width: 600px;
  }

  .homepageheading {
    font-size: 39px;
    line-height: 43px;
  }

  .homepageheading2 {
    font-size: 33px;
  }

}

@media only screen and (max-width: 500px) {
  .roundedbluebtn {
    padding: 8px 21px !important;
    border-radius: 9px;
    font-size: 11px;
  }  
  .bluebutton{
    
    min-width: 96px;
    height: 40px;

  }
  /*Big smartphones [426px -> 600px]*/
  .heading1 {
    font-size: 15px;
    line-height: 24px;
  }

  .btn1 {
    font-size: 12px;
    padding: 4px 23px;
  }

  .pagecoverheading {
    max-width: 400px;
  }

  .homepageheading {
    font-size: 27px;
    line-height: 30px;
  }

  .homepageheading2 {
    font-size: 27px;
    line-height: 37px;
  }

  .homepagepara {
    font-size: 12px;
    line-height: 18px;
  }


}

.swiper-pagination {
  display: none !important;
}

//test
