@import '../../style/colors';
@import '../../style/globalStyle.scss';

// @font-face {
//     font-family: rangeSane;
//     src: url(../../assets/font/rangesans-medium.ttf);
// }
// @font-face {
//     font-family: rangeSanebold;
//     src: url(../../assets/font/Kanit-Bold.ttf);
// }
* {
    margin: 0;
    padding: 0;
}

.homepage {
    margin-top: 20px;
}

.heading {
    text-align: center;
    color: $blue;
    font-style: rangeSane;
    width: 41%;
    margin: 50px auto 0 auto;
}

.heading p {
    font-size: 20px;
    color: #141414;
    line-height: 23px;
    margin-top: 8px;
}

.elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.centerpara {
    font-size: 20px;
    line-height: 23px;

    // border: 1px solid black;
    font-family: rangeSaneregular;
    color: #141414;
    text-align: center;
    letter-spacing: -0.01em;
}

.searcbar {
    width: 560px;
    border: 1px solid $darkgrey;
    border-radius: 40px;
    padding: 3px 3px 3px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 10px 10px rgb(236, 236, 236);
    margin-top: 27px;


}

.input {
    width: 100%;
    border: none;
    margin: 0 0 0 10px;

}

::placeholder {
    color: #000000;
    font-size: 18px;

}

.filterbutton {
    background-color: black;
    color: white;
    width: 227px;
    border-radius: 40px;
    padding: 7px;
    font-weight: 600;

}

.filtericon {
    margin: 0 9px 0 0;
}


.input:active {
    outline: none;
}

.input:focus {
    outline: none;
}

.tagline {
    margin-top: 21px;
    width: 500px;
    // border: 1px solid $darkgrey;
    display: flex;
    justify-content: center;
    margin: 30px auto 0 auto;
gap: 13px;
}

.tag {
    font-size: 16px;
    background-color: rgba(255, 116, 119, 0.08);
    ;
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 72px;
    color: $pink;
    font-weight: 600;

}
.tagline .tag{
    
    margin-bottom: 10px;

}
.bullets {
    // margin: 10px 0 0 0;
    width: 560px;
    // border: 1px solid $darkgrey;
    text-align: center;

}

.bulletsadjust {
    padding: 7px 14px 9px 14px;
    background-color: $blue;
    border: none;
    border-radius: 29.65px;
    color: white;
    font-size: 14px;
    margin: 10px;

}

.pagecoverheading {
    max-width: 900px;
    text-align: center;
    color: $blue;
    font-style: rangeSane;
    margin: 50px auto 0 auto;
}

.center-section {
    margin: 0 43px;

    // position: relative;
    // top: -50px;
    margin-top: -59px;
    // border: 1px solid black;
}
.cover-images{
    margin-top: -10px;
}
@media only screen and (max-width: 1440px) {

    .cover-images {
        display: none;
    }
    .center-section{
        margin-top: 18px;
    
    }
}

@media only screen and (max-width: 1306px) {

    .homepageheading {
        font-size: 48px;
    }



    .searcbar {
        padding: 3px 3px 3px 21px;
    }


}

@media only screen and (max-width: 768px) {

    .searcbar {
        width: 100%;
        padding: 1px 1px 1px 15px;
    }

    .filterbutton {
        width: 181px;
        border-radius: 40px;
        padding: 6px;
    }
    .centerpara {
        font-size: 15px;
        line-height: 18px;
    }    
}
@media only screen and (max-width: 614px) {

    .searcbar {
        width: 100%;
        margin-top: 18px;
    }

    .tagline{
        gap: 0px;
        width: 100%;
    flex-wrap: wrap;

    }
    .tagline .tag{
        font-size: 12px;
        width: 64px;
        margin-right: 10px ;
        margin-bottom: 10px;
    }
    .bullets{
        width: 100%;
    }
    .center-section {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 7px;
        
    }    
    .bulletsadjust{
        margin: 5px;
padding: 5px 14px 6px 14px;
font-size: 11px;
    }
    
}

