@import '../../style/colors';
@import '../../style/globalStyle.scss';

@font-face {
    font-family: rangeSane;
    src: url(../../assets/font/rangesans-medium.ttf);
}
@font-face {
    font-family: rangeSanebold;
    src: url(../../assets/font/Kanit-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
}
.homepage{
    margin-top: 20px;
}
.heading{
    text-align: center;
    color: $blue;
    font-style: rangeSane;
    width: 60%;
    margin: 50px auto 0 auto;
}

.heading p{
    font-size: 20px;
    color: #141414;
    line-height: 23px;
    margin-top: 20px;
}
.elements{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // border: 1px solid black;
}

.searcbar{
    width: 560px;
    border: 1px solid $darkgrey;
    border-radius: 40px;
    padding: 3px 3px 3px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 10px 10px rgb(236, 236, 236);
    

}
.input{
    width: 410px;
    border: none;
    margin: 0 0 0 10px;
   
}
::placeholder{
    color: #000000;
    font-size: 18px;

}
.filterbutton{
    background-color: black;
    color: white;
    width: 171px;
    border-radius: 40px;
    padding: 10px;
    font-weight: 600;

}
.filtericon{
    margin: 0 5px 0 0;
}


.input:active{
    outline: none;
}
.input:focus{
    outline: none;
}

.tagline{
    margin-top: 21px;
    width: 500px;
    // border: 1px solid $darkgrey;
    display: flex;
    justify-content: space-around;
    margin: 30px auto 0 auto;
    
}
.tag{
    font-size: 16px;
    background-color: rgba(255, 116, 119, 0.08);;
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 72px;
    color: $pink;
    font-weight: 600;

}
.bullets{
    margin: 10px 0 0 0 ;
    width: 560px;
    // border: 1px solid $darkgrey;
    text-align: center;
    
}
.bulletsadjust{
    padding: 7px 14px 9px 14px;
    background-color: $blue;
    border: none;
    border-radius: 29.65px;
    color: white;
    font-size: 14px;
    margin: 10px;
    
}

.center-section{
    position: relative;
    top: -50px;
    margin: 0 20px;
    // border: 1px solid black;
}