@import "../../style/colors";

.instructionvideo{
    background-color: rgba(93, 169, 233, 0.08);
    border-radius: 8px;
    padding: 14px 24px 2px 24px;
}

.instructionvideo h1{
    font-size: 18px;
    line-height: 21px;
    font-family: rangeSanebold;
    color: #141414;
    padding-bottom: 10px;
}

.instructionvideo ol{
    padding-left: 18px;
}

.instructionvideo li{
    font-size: 12px;
    line-height: 20px;
    font-family: rangeSane;
    color: #818386;
    padding-bottom: 5px;
}

.thinkpad{
    margin-bottom: 8px !important;
    padding-top: 25px !important;
}

.stepforlowpad{
    padding-left: 15px;
}

.steptwo{
    padding-bottom: 13px;
    line-height: 25px;
}

.stepforpad{
    padding-left: 3px;
}


.greyforpadding{
    margin-top: 10px;
    margin-bottom: 18px;
}

.plusaddmore{
    color: #FFFF00;
    background-color: #0B1F22;
  font-family: rangeSanebold !important;

}

.uploadvideosecond{
    width: 277px;
    height: 269px;
    border-radius: 24px;
    background-color: #F2F5FA;
    color: #0B1F22;
    // border: #0B1F22 2px dashed;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='%230B1F22FF' stroke-width='3' stroke-dasharray='4%2c 10' stroke-dashoffset='21' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexforvideomicrocourse{
    display: flex;
    // flex-wrap: wrap;
    gap: 38px;
}

.uploadvideosecond img{
    width: 20px;
    height: 20px;
    margin-bottom: 7px;
}

.placeholderformicro::placeholder{
    font-size: 15px;
    line-height: 17px;
    font-family: rangeSane;
}

.uploadvideosecond p{
    font-size: 15px;
    line-height: 17px;
    font-family: rangeSane;
}

.microsupply{
    width: 100%;
}

.addsupply{
    padding-top: 11px !important;
    padding-bottom: 5px !important;
}

.microlesson{
    font-size: 24px;
    line-height: 28px;
  font-family: rangeSanebold;
  margin-top: 40px;
  margin-bottom: 20px !important;
}

.microheadingpad{
    margin-top: 5px;
    padding-bottom: 5px;
}

.uploaddivcolor{
    background-color:rgba(235, 193, 255, 0.24);
    margin-top: 30px;
    height: 122px !important;
}

.uploaddivcolor img{
    width: 16px !important;
    height: 16px !important;
}

.placeholderformicro{
    background-color: #F2F5FA;
}

.flexforuploadsave{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fortopmarginsave{
    margin-top: 80px;
}

.lessonformatmain{
    margin-top: 30px;
    padding: 12px 18px 2px 18px;
    border-radius: 8px;
    background-color: rgba(255, 116, 119, 0.08);
    margin-bottom: 50px;
}

.lessonformatmain h1{
    font-size: 20px;
    line-height: 23px;
    color: #0B1F22;
    font-family: rangeSanebold;
    padding-bottom: 10px;
}

.lessonformatmain li{
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    font-family: rangeSaneregular;
    max-width: 220px;
    margin-bottom: 7px;
}

.lessonformatmain ol{
    padding-left: 15px;
}

// ==========================

@media only screen and (max-width: 992px) {
    .fortopmarginsave{
        margin-top: 0px;
        padding-top: 0px;
    }
    .flexforvideomicrocourse{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 700px) {
    .uploadvideosecond{
        height: 200px ;
    }
}

@media only screen and (max-width: 559px) {
    .placeholderformicro::placeholder{
     font-size: 13px;   
    }
}

@media only screen and (max-width: 492px) {
    .placeholderformicro::placeholder{
     font-size: 11px;
    }
}

@media only screen and (max-width: 428px) {
    .placeholderformicro::placeholder{
     font-size: 10px;
    }
}


@media only screen and (max-width: 330px) {
    .fortopmarginsave button{
        width: 130px !important;
    }
}